{% extends "base.html" %}
{% block content %}
    {#    <div id="container" style="width:100%; height:400px;"></div>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}

    {#            var options = {#}
    {#                chart: {#}
    {#                    renderTo: 'container',#}
    {#                    type: 'spline'#}
    {#                },#}
    {#                series: [{}]#}
    {#            };#}
    {##}
    {#            $.getJSON('/history', function (data) {#}
    {#                options.series[0].data = data;#}
    {#                console.log(data);#}
    {#                var chart = new Highcharts.Chart(options);#}
    {#            });#}

    {#    $.get('http://localhost:5000/data.csv',function(csv){#}

    {#        });#}
    {#    </script>#}

    {#    <input type="image" id="water_can" src="{{ url_for('static', filename='img/watering.jpg') }}"#}
    {#           height="64" width="64" onclick="getHistory();"/>#}


    {#    <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            var chart_id =#}
    {#            {{ chartID|safe }}#}
    {#            var series =#}
    {#            {{ series|safe }}#}
    {#            var title =#}
    {#            {{ title|safe }}#}
    {#            var xAxis =#}
    {#            {{ xAxis|safe }}#}
    {#            var yAxis =#}
    {#            {{ yAxis|safe }}#}
    {#            var chart =#}
    {#                {{ chart|safe }}#}
    {#                $(chart_id).highcharts({#}
    {#                    chart: chart,#}
    {#                    title: title,#}
    {#                    xAxis: xAxis,#}
    {#                    yAxis: yAxis,#}
    {#                    series: series#}
    {#                });#}
    {#        });#}
    {##}
    {#    </script>#}

    <div id="my-chart"></div>
    <script type="text/javascript">
        new Highcharts.Chart({{chart|safe}});
    </script>

{% endblock %}

{% block aside %}

{% endblock %}