{% extends "base.html" %}
{% block content %}
    <style>
        table, th, td {
            alignment: center;
            text-align: center;
        }

        td.symbol {
            width: 100px;
            text-align: center;
        }

        td.status {
            alignment: right;
            text-align: center;
        }

        td img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <div align="center">

        <table id="commandTable">
            <tr>
                {% if current_user.is_authenticated %}
                    <td class="symbol">
                        <input type="image" id="water_can" src="{{ url_for('static', filename='img/watering.jpg') }}"
                               height="64" width="64" onclick="waterPlants();"/>
                        <div id="loading_animation_water">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" height="64" width="64">
                        </div>
                        <div id="ok_water">
                            <img src="{{ url_for('static', filename='img/ok.jpg') }}" height="64" width="64">
                        </div>
                    <td class="symbol">
                        <input type="image" id="sensor" src="{{ url_for('static', filename='img/sensor.png') }}"
                               height="64"
                               width="64"
                               onclick="getSoilStatus();"/>
                        <div id="loading_animation_sensor">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" height="64" width="64">
                        </div>
                        <div id="ok_sensor">
                            <img src="{{ url_for('static', filename='img/wet.png') }}" height="64" width="64">
                        </div>
                        <div id="not_ok_sensor">
                            <img src="{{ url_for('static', filename='img/dry_soil.png') }}" height="64" width="64">
                        </div>
                    </td>
                    <td class="symbol">
                        <input type="image" id="water_level"
                               src="{{ url_for('static', filename='img/water_level.png') }}"
                               height="64"
                               width="64"
                               onclick="enoughWater();"/>
                        <div id="loading_animation_water_level">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" height="64" width="64">
                        </div>
                        <div id="positive">
                            <img src="{{ url_for('static', filename='img/positive.png') }}" height="64" width="64">
                        </div>
                        <div id="negative">
                            <img src="{{ url_for('static', filename='img/negative.png') }}" height="64" width="64">
                        </div>
                    </td>
                {% endif %}
            </tr>
{#            <tr>#}
{#                <td class="symbol">#}
{#                    <img src="{{ weather_icon_url }}"#}
{#                         height="64" width="64">#}
{#                    {{ current_weather.get('main').get('temp')|round|int }} °C#}
{#                </td>#}
{#                <td class="symbol">#}
{#                    <a href="{{ url_for('show_history') }}">#}
{#                        <img src="{{ url_for('static', filename='img/history.png') }}"#}
{#                             height="64" width="64">#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
        </table>
    </div>
{% endblock %}

{% block aside %}

{% endblock %}