{% extends "base.html" %}
{% block content %}
    <style>
        table, th, td {
            alignment: center;
        }

        td.symbol {
            width: 100px;
        }

        td.status {

        }
    </style>
    <div align="center">

        <table>
            {% if current_user.is_authenticated %}
                <tr>
                    <td class="symbol">
                        <input type="image" id="water_can" src="{{ url_for('static', filename='img/water_can.png') }}"
                               height="64" width="64" onclick="waterPlants();"/>
                    </td>
                    <td>
                        <div id="loading_animation_water">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" height="64" width="64">
                        </div>
                        <div id="ok_water">
                            <img src="{{ url_for('static', filename='img/ok.jpg') }}" height="64" width="64">
                        </div>
                        <div id="not_ok_water">
                            <img src="{{ url_for('static', filename='img/not_ok.svg') }}" height="64" width="64">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="symbol">

                        <input type="image" id="sensor" src="{{ url_for('static', filename='img/sensor.ico') }}"
                               height="64"
                               width="64"
                               onclick="getSoilStatus();"/>
                    </td>
                    <td>
                        <div id="loading_animation_sensor">
                            <img src="{{ url_for('static', filename='img/loading.gif') }}" height="64" width="64">
                        </div>
                        <div id="ok_sensor">
                            <img src="{{ url_for('static', filename='img/ok.jpg') }}" height="64" width="64">
                        </div>
                        <div id="not_ok_sensor">
                            <img src="{{ url_for('static', filename='img/not_ok.svg') }}" height="64" width="64">
                        </div>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td class="symbol">
                    <img src="{{ url_for('static', filename='img/temperature.jpg') }}"
                         height="64" width="64"></td>
                <td>{{ current_weather.get('main').get('temp')|round|int }} °C</td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block aside %}

{% endblock %}