<table id="sensordata_table">
    <tr>
        <td>
            <div>
                <img src="{{ url_for('static', filename='img/temperature.png') }}" height="64" width="64">
            </div>
        </td>
        <td>
            <div id="temperature_value"></div>
        </td>
        <td class="spaced">
            <div>
                <img src="{{ url_for('static', filename='img/soil.png') }}" height="64" width="64">
            </div>
        </td>
        <td>
            <div id="fertility_value"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <img src="{{ url_for('static', filename='img/humidity.png') }}" height="64" width="64">
            </div>
        </td>
        <td>
            <div id="humidity_value"></div>
        </td>
        <td  class="spaced">
            <div>
                <img src="{{ url_for('static', filename='img/sunlight.png') }}" height="64" width="64">
            </div>
        </td>
        <td>
            <div id="light_value"></div>
        </td>
    </tr>
</table>
