body {
    background-color: gainsboro;
    border-radius: 20;
}

td.spaced {
    margin-left: 50px;
}

td {
    display: inline-block;
    margin: 0;
    border: 0;
}

.navbar {
    background-color: darkgreen;
    border-radius: 20;
}

.navbar-brand {
    font-weight: bold;
	font-size:20px;
}